<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trash Reporter</title>
    <link rel="stylesheet" href="../styles/index.css">
</head>
<body>
    <header class="header">
        <div class="logo">GreenLenz</div>
        
            <nav class="nav">
                <a href="/signin">Sign IN</a> <!-- Route to Sign In page -->
                <a href="/signup">Sign Up</a>  <!-- Route to Sign Up page -->
            </nav>
            
        
    </header>
    <main class="container">
        <section class="post">
            <div class="user-info">
                <div class="avatar">@</div>
                <div class="username">@username</div>
            </div>
            <div class="image-container">
                <img src="../public/images/demo/WhatsApp Image 2025-01-09 at 6.34.37 PM.jpeg" alt="Trash Image">
            </div>
            <div class="comment-section">
                <textarea placeholder="Add a comment..."></textarea>
                <div class="due-date">
                    <label for="date">Due Date:</label>
                    <input type="date" id="date">
                </div>
            </div>
        </section>
        <section class="post">
            <div class="user-info">
                <div class="avatar">@</div>
                <div class="username">@username</div>
            </div>
            <div class="image-container">
                <img src="../public/images/demo/WhatsApp Image 2025-01-09 at 6.34.37 PM.jpeg" alt="Trash Image">
            </div>
            <div class="comment-section">
                <textarea placeholder="Add a comment..."></textarea>
                <div class="due-date">
                    <label for="date">Due Date:</label>
                    <input type="date" id="date">
                </div>
            </div>
        </section>
    </main>
</body>
</html>